<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Calculate Values</title>
  </head>
  <body>
    {% block content %}
    
    <h1>Calculate Values</h1>
    <p>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ol class=flash>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ol>
          {% endif %}
        {% endwith %}
    </p>
    <form method="post" action="" enctype="multipart/form-data">
        <p>
            <input type="submit" value="Calculate">
        </p>
    </form>
    
    {% endblock %}
  </body>
</html>